---
title: Emily's Homepage
---
.row
  .twelve.columns
    %h3 Welcome to my humble abode!

    %div{class: "front_box"}
      %h5 Check out some sweet apps I have been working on!
      %div{class: "front_content"}
        %p
          %a{href: "http://ten-000.herokuapp.com/"}= "TenThousand - A fun dice game to play with a friend"
        %p
          %a{href: "http://stumper-stumper.herokuapp.com/"}= "StumperStumper - A game based on an old Texas Instruments toy"
        %p
          %a{href: "http://phone-interview-me.herokuapp.com/"}= "Phone Interview Me - An app that helps you prepare for employment phone interviews"

    %div{class: "front_box"}
      %h5 Manifesta
      %div{class: "front_content"}
        - article = page_articles.last
        .panel
          %h3
            = link_to article.title, article
          = find_and_preserve do
            = article.summary

    %div{class: "front_box"}
      %h5 I am a current gSchool student in the g[2] March 2014 Boulder class.
      %div{class: "front_content"}
        %p
          %a{href: "http://www.galvanize.it/school/"}= "Curious about gSchool? Check out their website here!"
        %p
          %a{href: "http://gschoolboulderdemos.splashthat.com/"}= "Come check out our Demo Day on August 6th! I'm demoing..."
